<div class="d-inline-block">
  <%= render 'layouts/messages'%>
</div>
<%if @friends && !@friends.empty?%>
  <div class="row">
    <div class="col-9">
      <div class="d-flex flex-wrap">
        <%@friends.each do |friend|%>
          <div class="card mb-3 mr-3">
            <div class="card-body">
              <p>
                <strong>Name:</strong><%= "#{friend.first_name} #{friend.last_name}"  %>
              </p>
              <p>
                <strong>Email:</strong><%= friend.email  %>
              </p>
              <%= link_to "View Profile", '#', class: "btn btn-xs btn-light"%>
              <%if current_user.not_friends_with?(friend.id)%>
                <%= link_to "Follow", '#', class: "btn btn-xs btn-success", method: :post%>
              <%else%>
              <small class="font-weight-bold">
                Already Followed
              </small>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
<%else%>
  <div class="row">
    <div class="col-9">
      <p class="text-center">No Results found</p>
    </div>
  </div>
<%end%>
